<mat-spinner class="spinner" *ngIf="!posts"/>

<div class="navbar">
  <p>{{ g.username }}</p>
  <button color="primary" mat-raised-button (click)="openNewPostDialog(posts)">
    New Post
  </button>
</div>

<div class="container" *ngIf="posts">
  <div class="posts" *ngIf="posts">
    <mat-card class="post" *ngFor="let post of pageSlice">
      
      <mat-card-content>
        <p class="title">{{ post.title }}</p>
        <p class="body">{{ post.body }}</p>
      </mat-card-content>
      <div class="buttons-container">
        <button color="primary" mat-button (click)="openCommentsDialog(post.id)">
          Comments
        </button>   
        <button color="primary" mat-button *ngIf="post.userId == g.usernameId" (click)="openEditPostDialog(post.id)">
          Edit
        </button>   
      </div>
    </mat-card> 
  </div>
</div>

<div class="pagination-container" *ngIf="posts">
  <mat-paginator 
    [length]="this.posts.posts.length" 
    [pageSize]="10" 
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
    aria-label="Select page">
  </mat-paginator>
</div>